<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>

    <h3>Alta de usuario</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "m-t") do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"Nombre completo", required: true %>
        </div>
        <br>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"E-mail", required: true %>
        </div>
        <br>
        <div class="field">
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Contraseña", required: true  %>
        </div>
        <br>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirmar contraseña", required: true  %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Nuevo usuario", class: "btn btn-primary block full-width m-b" %>
        </div>
    <% end %>

  </div>
</div>
