<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Seguimiento de llamada para campaña: <strong> <%= @campaign.name %> - <%= @campaign.campaignType %></strong> </h2>

    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path  %>
      </li>
      <li>
        Catalogos
      </li>
      <li class="active">
        <strong><%= link_to 'LLamadas', calls_path  %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><small class="m-l-sm">En esta pantalla puedes capturar un nuevo registro de seguimiento de llamadas</small></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>













