<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">F +</h1>

    </div>
    <h3>Cambio de contraseña</h3>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "m-t" ) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimo)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"form-control", placeholder: "Nueva contraseña" %>
        </div>
<br>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirmar nueva contraseña" %>
        </div>
<br>
        <div class="actions">
          <%= f.submit "Cambiar contraseña", class:"btn btn-primary block full-width m-b" %>
        </div>
    <% end %>
    <p class="text-muted text-center">Si recuerdas tu contraseña <%= link_to 'inicia sesion',new_user_session_path%></p>


  </div>
</div>


