<div class="passwordBox animated fadeInDown">
  <div class="row">

    <div class="col-md-12">
      <div class="ibox-content">

        <h2 class="font-bold">Olvidaste tu contraseña</h2>

        <p>
          Escribe tu direccion de correo y te enviaremos instrucciones para reestablecerla.
        </p>

        <div class="row">

          <div class="col-lg-12">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "m-t") do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email", required: true %>
                </div>
                <br><br>

                <div class="actions">
                  <%= f.submit "Enviarme instrucciones", class:"btn btn-primary block full-width m-b" %>
                </div>
            <% end %>


            <%= link_to 'Iniciar sesion',new_user_session_path%>

          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
    &nbsp;
    </div>
    <div class="col-md-6 text-right">
      <small>El Fresno &copy; 2016 - <%= Date.today.year %> </small>
    </div>
  </div>
</div>



