
  <%= form_for(@company, class: "form-horizontal") do |f| %>
  <% if @company.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@company.errors.count, "error") %> no permitieron guardar el registro de company:</h2>

    <ul>
      <% @company.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

        <div class="form-group">
                   <%= f.label :tradeName , class: "col-lg-2 control-label"%>
           <div class="col-lg-6">
             <%= f.text_field :tradeName , class: "form-control", required: true%>
           </div><br><div class="hr-line-dashed"></div>
              </div>
        <div class="form-group">
                   <%= f.label :businessName , class: "col-lg-2 control-label"%>
           <div class="col-lg-6">
             <%= f.text_field :businessName , class: "form-control", required: true%>
           </div><br><div class="hr-line-dashed"></div>
              </div>
        <div class="form-group">
                   <%= f.label :rfc , class: "col-lg-2 control-label"%>
           <div class="col-lg-6">
             <%= f.text_field :rfc , class: "form-control", required: true, :data => {:mask=> 'aaaa-999999-***'}, placeholder: ""%>
           </div>






        </div><br><br><div class="hr-line-dashed"></div>
        <div class="form-group">
                   <%= f.label :employees , class: "col-lg-2 control-label"%>
           <div class="col-lg-6">
             <%= f.number_field :employees , class: "form-control", required: true, min:1, max:9999%>
           </div><br><div class="hr-line-dashed"></div>
              </div>
        <div class="form-group">
                   <%= f.label :comercialBusiness , class: "col-lg-2 control-label"%>
           <div class="col-lg-6">
             <%= f.text_field :comercialBusiness , class: "form-control", required: true%>
           </div><br><div class="hr-line-dashed"></div>
              </div>
        <div class="form-group">
                   <%= f.label :sector , class: "col-lg-2 control-label"%>
           <div class="col-lg-6">
             <%= f.text_field :sector , class: "form-control"%>
           </div><br><div class="hr-line-dashed"></div>
              </div>

      <div class="form-group">
        <%= f.label "Contacto", class: "col-lg-2 control-label" %>
        <div class="col-lg-6">
          <%= f.select :contact_id, options_for_select(Contact.all.collect { |contact|
                                                         [contact.name, contact.id] }, @company.contact_id), {include_blank: "Sin contacto"}, { class:"chosen-select", style: "width:350px;"  } %>
        </div>
      </div><br><div class="hr-line-dashed"></div>
  
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
      <%= link_to companies_path, class: "btn btn-outline btn-danger pull-left" do%>
        <i class="fa fa-list-ol"></i> Cancelar
      <% end %>
      <%= button_tag(type: 'submit', class: "btn btn-outline btn-primary pull-right") do %>
          <i class="fa fa-database"></i> Guardar
      <% end %>
    </div>



  </div>
  <br><br>
  <% end %>


  <% content_for :javascript do %>

      <script type="text/javascript">


          var config = {
              '.chosen-select'           : {},
              '.chosen-select-deselect'  : {allow_single_deselect:true},
              '.chosen-select-no-single' : {disable_search_threshold:10},
              '.chosen-select-no-results': {no_results_text:'No existen registros!'},
              '.chosen-select-width'     : {width:"95%"}
          }
          for (var selector in config) {
              $(selector).chosen(config[selector]);
          }
      </script>
  <% end %>
