
  <%%= form_for(@<%= singular_table_name %>, class: "form-horizontal") do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
  <div id="error_explanation">
    <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> no permitieron guardar el registro de <%= singular_table_name %>:</h2>

    <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
      <li><%%= msg %></li>
      <%% end %>
    </ul>
  </div>
  <%% end %>

  <% attributes.each do |attribute| -%>
      <div class="form-group">
        <% if attribute.password_digest? -%>
             <%%= f.label :password, class: "col-lg-2 control-label" %>
             <div class="col-lg-6">
                <%%= f.password_field :password, class: "form-control" %>
             </div><br><div class="hr-line-dashed"></div>
          </div>

           <div>
              <%%= f.label :password_confirmation, class: "col-lg-2 control-label" %>
              <div class="col-lg-6">
                  <%%= f.password_field :password_confirmation, class: "form-control" %>
              </div><br><div class="hr-line-dashed"></div>

        <% else -%>

          <%- if attribute.reference? -%>
           <%%= f.label :<%= attribute.column_name %>, class: "col-lg-2 control-label" %>
           <div class="col-lg-6">
             <%%= f.select :<%= attribute.column_name %>, options_for_select( <%= attribute.name.capitalize %>.all.collect { |<%= attribute.name %>|
                                                              [<%= attribute.name %>.name, <%= attribute.name %>.id] }, @<%= singular_table_name %>.<%= attribute.column_name %>), {}, {class: "chosen-select", style: "width:350px;" } %>
           </div><br><div class="hr-line-dashed"></div>
          <%- else -%>
                <%- case attribute.type-%>
                  <%- when :date -%>
                    <%%= f.label :<%= attribute.name %> , class: "col-lg-2 control-label"%>
                    <div class="col-sm-5">
                      <div class="form-group" id="data_1">
                        <div class="input-group date">
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          <%%= f.text_field :<%= attribute.name %> , class: "form-control"%>
                        </div>
                      </div>
                    </div>

                <%- when :time -%>
                    <%%= f.label :<%= attribute.name %> , class: "col-lg-2 control-label"%>
                    <div class="col-sm-5" style="width: 200px">
                      <div class="input-group clockpicker" data-autoclose="true" >
                        <%%= f.text_field  :<%= attribute.name %>, class: "form-control"%>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                      </div>
                    </div>

                <%- when :boolean -%>

                    <%%= f.label :<%= attribute.name %> , class: "col-lg-2 control-label"%>
                    <div class="col-sm-5">
                      <div class="checkbox checkbox-success">
                        <%%= f.check_box :<%= attribute.name %> %>
                        <%%= f.label " " %>
                      </div>
                    </div>
                <%else%>
                    <%%= f.label :<%= attribute.name %> , class: "col-lg-2 control-label"%>
                    <div class="col-lg-6">
                      <%%= f.<%= attribute.field_type %> :<%= attribute.name %> , class: "form-control"%>
                    </div>
                <%end%>
          <%- end -%>
        <% end -%>
      </div><br><div class="hr-line-dashed"></div>

  <% end -%>

  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
      <%%= link_to <%= index_helper %>_path, class: "btn btn-outline btn-danger pull-left" do%>
        <i class="fa fa-list-ol"></i> Cancelar
      <%% end %>
      <%%= button_tag(type: 'submit', class: "btn btn-outline btn-primary pull-right") do %>
          <i class="fa fa-database"></i> Guardar
      <%% end %>
    </div>



  </div>
  <br><br>
  <%% end %>


  <%% content_for :javascript do %>

      <script type="text/javascript">


          var config = {
              '.chosen-select'           : {},
              '.chosen-select-deselect'  : {allow_single_deselect:true},
              '.chosen-select-no-single' : {disable_search_threshold:10},
              '.chosen-select-no-results': {no_results_text:'No existen registros!'},
              '.chosen-select-width'     : {width:"95%"}
          };
          for (var selector in config) {
              $(selector).chosen(config[selector]);
          }

          $('.clockpicker').clockpicker();

          $('#data_1 .input-group.date').datepicker({
              todayBtn: "linked",
              keyboardNavigation: false,
              forceParse: false,
              calendarWeeks: true,
              autoclose: true
          });

      </script>
  <%% end %>
