<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Monstrando un registro de campa単a </h2>

    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path  %>
      </li>
      <li>
        Catalogos
      </li>
      <li class="active">
        <strong><%= link_to 'campaign', campaigns_path  %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <%= link_to 'Nueva Campa単a', new_campaign_path, class: "btn btn-outline btn-warning" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <small class="m-l-sm">En esta pantalla se muestran los valores de un registro de campaign</small>
          <div class="ibox-tools">
            Mostrando el registro: <strong> <%= @campaign.id%></strong>
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">

                            <div class="form-group">

                          <h4>Nombre de campa単a:</h4>
                          <div class="col-sm-5">
                            <%= @campaign.name %>
                          </div><br>
                  </div>
                            <div class="form-group">

                          <h4>Tipo:</h4>
                          <div class="col-sm-5">
                            <%= @campaign.campaignType %>
                          </div><br>
                  </div>
                            <div class="form-group">

                          <h4>Termina:</h4>
                          <div class="col-sm-5">
                            <%= @campaign.finish %>
                          </div><br>
                  </div>
            
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-2">
                <%= link_to campaigns_path, class: "btn btn-outline btn-danger " do%>
                <i class="fa fa-list-ol"></i> Listado
                <% end %>

                <%= link_to edit_campaign_path(@campaign) , class: "btn btn-outline btn-primary" do %>
                  <i class="fa fa-pencil"></i> Modificar
                <% end %>

                <%= link_to details_path(@campaign) , class: "btn btn-outline btn-success pull-right" do %>
                    <i class="fa fa-building"></i> Armar campa単a
                <% end %>
              </div>
            </div><br><br>
        </div>



      </div>
    </div>
  </div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


    $(function() {

        $('.footable').footable();
        $('.footable2').footable();

        $('.dataTables-example').dataTable({
            "order": [[ 0, "desc" ]],
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "../../assets/dataTables/swf/copy_csv_xls_pdf.swf"
            }
        });

    });

</script>

<% end %>